.librosCarrito{
padding: 1vh;
display: flex;
justify-content: space-between;
}


.botonCarrito:hover{
    cursor: pointer;
}

.carritoDiv{
    display:none;
}

.botonEliminar{
    margin-bottom: 1rem;
}

div:where(.swal2-container) div:where(.swal2-popup){
    width:35em!important;
}
div:where(.swal2-container) div:where(.swal2-popup){
    width:35em;
}