// FUENTES
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
$letra: 'Rubik', sans-serif;


// COLORES
$negro: rgb(37, 35, 35);
$blanco: rgb(245, 241, 237);
$gris: rgb(112, 121, 140);
$marron-claro:rgb(218, 210, 188);
$marron-oscuro: rgb(169, 153, 133);